<%- model_class = Recipe -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">絞り込み検索</div>
  </div>
<div class="panel-body">
  <%= search_form_for(@q, method: :get) do |f| %>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.text_field :title_or_description_or_ingredient_cont, class: "form-control", placeholder: "検索キーワード" %>
        </div>
      </div>
    </div>
    <br>
    <%= f.submit '検索', class: "btn btn-primary" %>
    <%= link_to 'クリア', url_for, class: "btn btn-default" %>
  <% end %>
</div>
</div>

<%= paginate @recipes %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:img) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:ingredient) %></th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><a href="http://cookpad.com/recipe/<%= recipe.url %>" target="_blank"><%= recipe.title %></td>
        <td><img src="<%= recipe.img %>"></td>
        <td><%= recipe.description %></td>
        <td><%= recipe.ingredient %></td>
      </tr>
    <% end %>
  </tbody>
</table>
