<%- model_class = Recipe -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:img) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:ingredient) %></th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><a href="http://cookpad.com/recipe/<%= recipe.url %>" target="_blank"><%= recipe.title %></td>
        <td><img src="<%= recipe.img %>"></td>
        <td><%= recipe.description %></td>
        <td><%= recipe.ingredient %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @recipes %>